<%= render 'shared/errors', obj: @hit %>

<div class="row">
    
    <%= form_for(@hit, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
        <div class="col-sm-2">
            <div class="btn-group" data-toggle="buttons">

              <% (0..9).each do |i| %>
                 
                  <%= f.radio_button :digit_left, i %>
                  <span class="digitlabels"><%= i %></span>
                  <br><br>
              <% end %>

            </div>
        </div>

        <div class="col-sm-2">
            <div class="btn-group" data-toggle="buttons">
              <% (0..9).each do |i| %>
                  <%= f.radio_button :digit_right, i %>
                  <span class="digitlabels"><%= i %></span>
                  <br><br>
              <% end %>

            </div>
        </div>





            <div class="col-sm-3">

                  <%= f.check_box :head %> <span class="bodylabels">Head</span>
                  <br><br><br>
                  <%= f.check_box :chest %> <span class="bodylabels">Chest</span>
                  <br><br><br>
                  <%= f.check_box :back %> <span class="bodylabels">Back</span>


                <br>

            </div>


        <div class="control-label col-sm-1">
          <%= f.label :comments %>
        </div>
        <div class="col-sm-3">
          <%= f.text_area :comments, rows: 2, class: "form-control", placeholder: "any comments" %>


      <div class="col-sm-1">
        <br><br><br><br><br><br><br>
        <%= f.submit class: "btn btn-primary btn-lg btn-xlarge" %>
      </div>
      <% end %>    


      </div>



    <br><br>


</div>




</div>

