<%= render 'shared/errors', obj: @hit %>

<div class="row">
    
    <%= form_for(@hit, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
        <div class="col-sm-1">
            <div class="btn-group" data-toggle="buttons">

              <% (0..9).each do |i| %>
                 <br>
                  <%= f.radio_button :digit_left, i %>
                  <%= label :digit_left, i %>
              <% end %>

            </div>
        </div>

        <div class="col-sm-1">
            <div class="btn-group" data-toggle="buttons">
              <% (0..9).each do |i| %>
                 <br>
                  <%= f.radio_button :digit_right, i %>
                  <%= label :digit_right, i %>
              <% end %>

            </div>
        </div>


            <div class="col-sm-3">
            </div>

            <div class="col-sm-3">
                <div class="btn-group" data-toggle="buttons">
                  <br>
                  <label class="btn btn-primary btn-body ">
                    <input type="checkbox" name="head_state" value="1" autocomplete="off">Head
                  </label>
                </div>

                <br>
                <div class="btn-group" data-toggle="buttons">
                  <br>
                  <label class="btn btn-primary btn-body ">
                    <input type="checkbox" name="chest_state" value="1" autocomplete="off">Chest
                  </label>
                </div>

                <br>
                <div class="btn-group" data-toggle="buttons">
                  <br>
                  <label class="btn btn-primary btn-body ">
                    <input type="checkbox" name="back_state" value="1" autocomplete="off">Back
                  </label>
                </div>
                <br><br>

            </div>


        <div class="control-label col-sm-1">
          <%= f.label :comments %>
        </div>
        <div class="col-sm-3">
          <%= f.text_area :comments, rows: 2, class: "form-control", placeholder: "any comments" %>
      </div>



    <br><br>




      <div class="col-sm-1">
        <br><br><br><br><br><br><br>
        <%= f.submit class: "btn btn-primary btn-lg btn-xlarge" %>
      </div>
      <% end %>    

</div>



</div>

