<%= render 'shared/page_title', title: "Player Summary" %>



<div class="col-sm-6 col-sm-offset-2">

  <h1><%= @player.name %>  #<%= @player.id %></h1>








<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Date</th>
      <th>Head</th>
      <th>Chest</th>
      <th>Back</th>
      <th>SLURRING</th>
      <th>TOTAL</th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @individual_hits.each do |hit| %>
      <tr>

        
        <td><%= hit.created_at.strftime("%F")  %></td>
        <td><%= hit.head  %></td>
        <td><%= hit.chest  %></td>
        <td><%= hit.back  %></td>
        <td><%= hit.slurring  %></td>
        <td><%= hit.slurring.to_i+hit.back.to_i+hit.chest.to_i+hit.head.to_i  %></td>
        <td><%= link_to "EDIT", edit_hit_path(hit)  %></td>

      </tr>
    <% end %>
  </tbody>
</table>

 </div>